#
make.com
make.com.dbg
libcosmo/*
!libcosmo/README.md

# Build artifacts from superconfigure
Makefile
doc/Makefile
build.cfg
config.log
config.status
lib/alloca.h
lib/fcntl.h
lib/limits.h
lib/stdbool.h
lib/stddef.h
lib/stdint.h
lib/stdio.h
lib/stdlib.h
lib/string.h
lib/sys/types.h
lib/unistd.h
po/Makefile
po/Makefile.in
po/POTFILES
src/config.h
src/stamp-h1
tests/config-flags.pm
tests/testapi.c
tests/testload.c
tests/work/

# directory stamp
.dirstamp

# Prerequisites
*.d

# Object files
*.o
*.Po
*.Tpo
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
